header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:80px;
    padding:0 2rem;
    color:white;
    padding-top:100px;
   
    
}

nav a{
    margin:0 1.4rem;
    color:white;
    padding-bottom:10px;

}
nav a:hover{
    color:aqua;

}
header .nav-btn{
    padding:5px;
    cursor:pointer;
    background:transparent;
    border:none;
    outline:none;
    color:white;
    visibility:hidden;
    opacity:0;
    font-size: 1.8rem;
}

.social a{
    padding:10px;
    background-color:black;
    border-radius:50%;
    height:32px;
    width:32px;
    margin: 5px;
    color:#57F287;
}

.ming{
    margin:0 20px;
    padding:13px 25px;
    background-color:#57F287;

    border-radius: 30px;
}

/* @media only screen and (max-width:1435){
    .social  {
            visibility:hidden;
            opacity: 0;
        }
    
        .ming {
            display: none;
        }
} */

@media only screen and (max-width: 770px){

    header .nav-btn{
        visibility:visible;
        opacity:1;
    }
    header nav{
        position:fixed;
        top:0;
        left:0;
        height:100vh;
        width:100%;
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        gap:1.5rem;

        background-color: blue;
        z-index: 100;
        transition: 1s;
        transform:translateY(-100vh) ;

    }
    header .responsive_nav{
        transform:none;
    }
    nav .nav-close-btn{
        position:absolute;
        top:5rem;
        right:10rem;


    }
    nav a{
        font-size: 1.5rem;
    }


        .social a {
            display:none
        }
    
        .ming {
            display:none;
        }


}


@media only screen and (max-width:420px){
    header img{
        width:100px;
    }
}