.banner{
    background-image:url(/src/images/banner/ban1.png);
    width:100vw;
    height:100vh;
    background-position: center ;
    background-repeat: no-repeat;
    background-size:cover;
}
.contentDiv{
margin-left: 140px;
margin-right: 130px;
position: relative;
    
}

/* navigation section */
nav .logo img {
    width:136px;
    

}


.content{
    position: relative;
}
.content h2{
    font-size:65px;
    line-height: 85px;
    font-weight: 500;
    text-align: center;
    padding-top: 120px;
    width: 75%;
    margin:0 auto;
    color: #57F287;
}
.content p{
    color:white;
    width: 60%;
    height:108px;
    margin:30px auto;
    text-align: center;
    
}


.pigs .pig1 {
    position: absolute;
    top:60%;
    left:12%;

    width: 98px;

}
.pigs .pig2 {
    position: absolute;
    top:75%;
    width:190px;
    left:15%;
    

}
.pigs .pig3 {
    position: absolute;
    top:70%;
   right:10%;
   width:200px;
    

}




@media only screen and (max-width: 1435px) {
.content h2 {
        font-size: 40px;
        line-height: 45px;
        font-weight: 500;
        text-align: center;
        padding-top: 80px;
        width: 85%;
        margin: 0 auto;
        color: #57F287;
    }
        .pigs .pig1 {
            position: absolute;
            top: 50%;
            left: 12%;
    
            width: 78px;
    
        }
    
        .pigs .pig2 {
            position: absolute;
            top: 70%;
            width: 140px;
            left: 15%;
    
    
        }
    
        .pigs .pig3 {
            position: absolute;
            top: 60%;
            right: 10%;
            width: 150px;
    
    
        }

}

@media only screen and (max-width: 770px) {
    .content h2 {
            font-size: 30px;
            line-height: 35px;
            font-weight: 500;
            text-align: center;
            padding-top: 60px;
            width: 100%;
            margin: 0 auto;
            color: #57F287;
        }
                .contentDiv {
                    margin-left: 50px;
                    margin-right: 50px;
                    
        
                }
                                .pigs .pig1 {
                                    position: absolute;
                                    top: 60%;
                                    left: 12%;
                
                                    width: 50px;
                
                                }
                
                                .pigs .pig2 {
                                    position: absolute;
                                    top: 80%;
                                    width: 90px;
                                    left: 15%;
                
                
                                }
                
                                .pigs .pig3 {
                                    position: absolute;
                                    top: 70%;
                                    right: 10%;
                                    width: 120px;
                
                
                                }
}
@media only screen and (max-width: 420px) {
    .content h2 {
            font-size: 18px;
            line-height: 45px;
            font-weight: 500;
            text-align: center;
            padding-top: 80px;
            width: 100%;
            margin: 0 auto;
            color: #57F287;
        }

               
.contentDiv {
    margin-left: 10px;
    margin-right: 10px;

}

                
}